body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #230202;
    margin: 0;
    padding: 0;
}

.wrap { 
    padding: 25px; 
    text-align: center; 
    box-shadow: 0 4px 25px -4px #210202; 
    background-color: #410505;
}
article { 
    padding: 25px 0; 
    line-height: 150%; 
    text-align: left; 
    color: #fff;
    font-size: 20px;
}

.headline-item {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background: #222;
    padding: 20px;
    border-radius: 6px;
    color: #fff;
}

nav .item {
    text-decoration: none;
}
nav .active {
    border-bottom: 1px solid;   
}

@media only screen and (min-width: 768px) {
    article { 
        padding: 40px; 
    }
    .wrap { 
        max-width: 750px; 
        margin: 50px auto;
        padding: 30px 40px;
    }
}
