.wrap { 
    padding: 25px; 
    text-align: center; 
    box-shadow: 0 4px 25px -4px #5386ab; 
    background-color: rgb(48, 7, 7);
    color: white;
}
article { 
    padding: 25px 0; 
    line-height: 150%; 
    text-align: left; 
}
.content { 
    background: #222; 
    color: white; 
    padding: 20px; 
    border-radius: 10px;
}

headline {
    padding: 25px 0; 
    line-height: 150%; 
    text-align: left; 
    color: #ffffff;
    font-size: 20px;
}

nav .item {
    text-decoration: none;
}
nav .active {
    border-bottom: 1px solid;   
}

@media only screen and (min-width: 768px) {
    article { 
        padding: 40px; 
    }
    .wrap { 
        max-width: 750px; 
        margin: 50px auto;
        padding: 30px 40px;
    }
}